In [51]:
import pandas as pd
import numpy as np
from sunpy.net import hek, hek2vso

In [38]:
cl = pd.read_csv('all_clear/classifications.csv', delimiter=';')
cl.head()

,#id,zooniverse_class,user_id,image_id_0,image_id_1,image0_more_complex_image1,used_inverted,bin,date_created,date_started,date_finished
0,1,530e4b1b41ecea2100001972,1,1027,8638,0,0,bin_40_50,2014-02-26 20:14:19,2014-02-26 20:13:59,2014-02-26 20:14:18
1,2,530e4b3747bc723aac00187f,1,8061,5991,0,0,bin_65_90,2014-02-26 20:14:47,2014-02-26 20:14:18,2014-02-26 20:14:39
2,3,530e4b3841ecea2100001977,1,6637,6901,1,0,bin_50_60,2014-02-26 20:14:48,2014-02-26 20:14:39,2014-02-26 20:14:47
3,4,530e4b4441ecea211b0018aa,1,9078,10560,0,0,bin_20_40,2014-02-26 20:15:00,2014-02-26 20:14:47,2014-02-26 20:14:59
4,5,530e4b4841ecea210b0018c1,1,10721,168,0,0,bin_20_40,2014-02-26 20:15:04,2014-02-26 20:14:59,2014-02-26 20:15:02

In [39]:
r = pd.read_csv('all_clear/rankings.csv', delimiter=';')
lp = pd.read_csv('all_clear/lookup_properties.csv', delimiter=';')
lt = pd.read_csv('all_clear/lookup_timesfits.csv', delimiter=';')

In [40]:
r.head()

   #id  image_id  count  k_value       score   std_dev
0    1      9843     50        8  950.403592  1.455031
1    2       999     50        8  953.549821  1.717277
2    3      2437     50        8  954.324334  2.209654
3    4      5013     50        8  955.205675  1.497922
4    5      9473     50        8  956.152484  1.888993

In [41]:
lp.head()

,#id,filename,zooniverse_id,angle,area,areafrac,areathesh,bipolesep,c1flr24hr,id_filename,...,hcpos_x,hcpos_y,m1flr12hr,m5flr12hr,n_nar,noaa,pxpos_x,pxpos_y,sszn,zurich
0,1,530be1183ae74079c300000d.jpg,ASZ000090y,37.8021,34400.0,0.12,2890.0,3.72,0,1,...,452.26991,443.92976,0,0,1,8809,229.19344,166.87700,1,bxo
1,2,530be1183ae74079c300000f.jpg,ASZ000090o,37.3590,78700.0,-0.00,6170.0,7.28,0,2,...,149.64301,621.53865,0,0,1,8810,200.41511,154.54088,2,fao
2,3,530be1183ae74079c3000011.jpg,ASZ0000946,58.6197,37900.0,0.08,937.0,3.88,0,3,...,704.04967,-436.33152,0,0,1,8812,205.30165,154.98689,3,axx
3,4,530be1183ae74079c3000013.jpg,ASZ000090v,32.3099,31200.0,0.12,1720.0,4.90,0,4,...,-449.47446,-234.01929,0,0,1,8813,207.95782,169.12196,4,dro
4,5,530be1183ae74079c3000015.jpg,ASZ000090x,49.9221,88400.0,0.05,6480.0,12.48,0,5,...,-735.40990,208.46232,0,0,2,8814,183.10649,165.00398,5,hax

In [42]:
client = hek.HEKClient()

In [43]:
tstart = '2011/08/09 07:23:56'
tend = '2011/08/09 12:40:29'
event_type = 'FL'

In [44]:
t = hek.attrs.Time(tstart,tend)

In [45]:
e = hek.attrs.EventType(event_type)

In [46]:
hek.attrs.FL

In [52]:
h2v = hek2vso.H2VClient()

In [57]:
help(h2v.full_query)

Help on method full_query in module sunpy.net.hek2vso.hek2vso:

full_query(client_query, limit=None, progress=False) method of sunpy.net.hek2vso.hek2vso.H2VClient instance
    An encompassing method that takes a HEK query and returns a VSO result

    Takes a list containing a HEK style query, passes it to a HEKClient
    instance, translates it, queries the VSO webservice, then returns
    the VSO results inside a structured list.

    Parameters
    ----------
    client_query : `list`
        The list containing the HEK style query.
    limit : `int`
        An approximate limit to the desired number of VSO results.

    Examples
    --------
    >>> from sunpy.net import hek, hek2vso
    >>> h2v = hek2vso.H2VClient()  # doctest: +REMOTE_DATA
    >>> q = h2v.full_query((hek.attrs.Time('2011/08/09 07:23:56', '2011/08/09 12:40:29'),
    ...                    hek.attrs.EventType('FL')))  # doctest: +REMOTE_DATA

In [59]:
q = h2v.full_query((hek.attrs.Time('2011/08/09 07:23:56', '2011/08/09 12:40:29'),hek.attrs.EventType('FL')), 'latin-1')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc5 in position 15296: invalid continuation byte